* {
  margin: 0;
  padding: 0;
}

body {
  transition: background-image 1s ease-in-out;
}

#slider {
  margin-top: 100px;
  height: 640px;
  width: 1280px;
  overflow: hidden;
  position: relative;
}

.slide {
  transform: translateX(0);
}

.slide-image {
  background-image: url('../img/slide.jpg');
  /* background-image: url('../img/iso_capture/HighresScreenshot00000.png'); */
  background-size: auto 100%;
  background-position: 0 0;
  height: 640px;
  width: 46080px;
  transition: all 1s;
}