* {
  margin: 0;
  padding: 0;
}

#slider {
  height: 640px;
  width: 1280px;
  overflow: hidden;
  position: relative;
}

.slide {
  background-image: url('../img/slide.jpg');
  background-size: auto 100%;
  background-position: 0 0;
  height: 640px;
  width: 46080px;
  position: absolute;
  transition: ease;
  top: 0;
  left: 0;
}